# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# this stuff should probably not be synced because everyone generates it from the source files
# on their own.
.idea/
# this is just gradle supplementary files (afaik)
.gradle/
build/


local.properties
app/app.iml